body {
  background-color: #ffffff;
  text-align: center;  
} /* Explore how to change background using images */
 
img {
  height: 400px;
 }
 
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 64px;
  color: #8b1b00;
} /* Try changing font styles to something more hip and catchy */

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 64px;
  color: #8b1b00;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 64px;
  color: #8b1b00;
}
 
p, li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  color: #51473b;
}

p {
  padding: 20px;
}

ul {
  max-width: 700px;
  margin: 0 auto;
}

a:visited, a:link{
  color:black;
}

a:active, a:hover{
  color:red;
}
